.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
  padding: 10px 0;
  background: #ffe780;
}
.header img {
  width: 90px;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}